<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.statcan.ev-change-detector</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/jasonkirby/statcan-explorer/ev_change_detector.py</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/jasonkirby/statcan-explorer/ev_detector.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jasonkirby/statcan-explorer/ev_detector.log</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
